{% extends "layout.html" %}

{% block head %}
    <style>
        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }

        .logo {
            float: left;
            margin-left: 20px;
        }

        nav {
            float: right;
            margin-right: 20px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav ul li a {
            color: black;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="logo">
        <img src= "bussiness-man.png" alt="Logo" width="50" height="50">
    </div>
    <nav>
        <ul>
            <li><a href="/#About-me">About Me</a></li>
            <li><a href="/#My works profile">My work’s profile</a></li>
            <li><a href="/#motto">Motto</a></li>
            <li><a href="/#hobbies">Hobbies</a></li>
            <li><a href="/#Contact">Contact</a></li>
        </ul>
    </nav>
{% endblock %}